@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    min-height: 100vh;
    position: relative;
}

/* header */

.header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}

.header li a:hover,
.header .menu-btn:hover,
.header li a.active {
    background-color: #fff;
    color: #254F69;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
.header li {
    float: left;
}
.header li a {
    padding: 20px 30px;
}
.header .menu {
    clear: none;
    float: right;
    max-height: none;
}
.header .menu-icon {
    display: none;
}
}

.scrolled {
    background-color: #254F69 !important;
    transition: background-color 200ms linear;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

/*
.logo {
    font-size: 2em;
    color: #fff;
    pointer-events: none;
    margin-right: 225px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 600;
}

.navbar a:hover,
.navbar a.active {
    background-color: #fff;
    color: #254F69;
}
*/

.parallax {
    background: rgb(19, 28, 52);
}

.parallax, .parallax_layer {
	height: 1000px;
}

.parallax_layer {
    background-position: bottom center;
	background-size: cover;
	width: 100%;
	position: absolute;
    overflow-x: hidden;
}

#seattle {
background-image: url(images/seattle.png);
}

#clouds-right {
background-image: url(images/clouds-right.png);
}

#moon {
background-image: url(images/moon.png);
}

#clouds-left {
background-image: url(images/clouds-left.png);
}

#mountain5 {
background-image: url(images/mountain5.png);
}

#mountain4 {
background-image: url(images/mountain4.png);
}

#mountain3 {
background-image: url(images/mountain3.png);
}

#mountain2 {
background-image: url(images/mountain2.png);
}

#mountain1 {
background-image: url(images/mountain1.png);
}

#trees {
background-image: url(images/trees.png);
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0,0,0,.25);
    width: 100%;
    text-align: center;
    top: 40%;
}

@media(max-width:648px) {
    .parallax img{
        left: -50%;
    }
}

@media(max-width:648px) {
    .parallax img{
        left: -50%;
    }
}

.about {
    position: relative;
    background: #254F69;
    padding: 100px;
    text-align: justify;
}

.about h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.about p,
.about li {
    font: 1em;
    color: #fff;
    font-weight: 300;
}

.projects {
    position: relative;
    background-color: #fff;
    padding: 100px;
    color: #254F69;
    background-color: #f9f9f9;

}

.projects h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px ;
}

.project-card {
    height: 500px;
    width: 350px;
    background-color: #fff;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 25px;
    text-align: justify;
    position: relative;
}

.project-image-container {
    position: relative;
}

.hidden {
    z-index: 2;
    background-color: #000;
    color: #fff;
    opacity: 50%;
    display: none;
    text-align: center;
    padding: 20px;
}

.project-image-container:hover .hidden {
   display: block !important; 
}

.project-card p {
    position: absolute;
    top: 260px;
    width: 300px;
}

.project-image {
    height: 200px;
    width: 300px;
    align-items: center;
    position: absolute;
}

.project-buttons {
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
}

.project-link {
    text-decoration: none;
}

@media(max-width:728px) {
    .project-card {
        width: 500px;
        margin-right: 0;
    }
}

.contact {
    position: relative;
    background-color: #fff;
    padding: 100px;
    color: #254F69;
}

.contact h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.contact #email {
    height: 40px;
    width: 500px;
    max-width: 100%;
}

.contact #message {
    width: 100%;
}

.sent-msg {
    color: #05C811;
    font-weight: bold;
}

.error-msg {
    color: #FF2700;
    font-weight: bold;
}

.pushable {
    background: hsl(198, 48%, 13%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
    display: block;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 1.25rem;
    background:hsl(203, 48%, 28%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.footer p {
    text-align: center;
    padding: 30px;
    color: #254F69;
}

@media(max-width:728px) {
    .about {
        padding: 20px;
    }
    .projects {
        padding: 20px;
    }
    .contact {
        padding: 20px;
    }
}